.edit-course-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    form {
        display: flex;
        flex-direction: column;

        label, input, textarea {
            width: 100%;
            margin-bottom: 10px;
        }

        input[type="file"] {
            border: 1px solid #ccc;
        }

        button {
            padding: 10px;
            background-color: #4CAF50;
            color: white;
            cursor: pointer;
            border: none;
            border-radius: 4px;
            transition: background-color 0.3s;

            &:hover {
                background-color: darken(#4CAF50, 10%);
                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
            }
        }
    }
}
