<!-- course-edit.component.html -->
<div class="edit-course-form">
    <h2>Edit Course</h2>
    <form [formGroup]="editCourseForm" (ngSubmit)="submitEdit()">
      <label>Name:</label>
      <input formControlName="name" type="text" placeholder="Course Name">
      <label>Description:</label>
      <textarea formControlName="description" placeholder="Description"></textarea>
      <label>Type:</label>
      <input formControlName="type" type="text" placeholder="Course Type">
      <label>Video URL:</label>
      <input formControlName="videoUrl" type="text" placeholder="Video URL">
      <label>PDF URL:</label>
      <input formControlName="pdfUrl" type="text" placeholder="PDF URL">
      <button type="submit">Update Course</button>
    </form>
  </div>
  