<div class="edit-course-form">
    <h2>Edit Course</h2>
    <form [formGroup]="editCourseForm" (ngSubmit)="submitEdit()">
      <label>Name:</label>
      <input formControlName="name" type="text" placeholder="Course Name">
      <label>Description:</label>
      <textarea formControlName="description" placeholder="Description"></textarea>
      <label>Type:</label>
      <input formControlName="type" type="text" placeholder="Course Type">
      <label>Video File:</label>
      <input type="file" (change)="onFileSelect($event, 'video')">
      <label>PDF File:</label>
      <input type="file" (change)="onFileSelect($event, 'pdf')">
      <button type="submit">Update Course</button>
    </form>
  </div>
  