<div class="card mb-5 mb-xl-10">
  <div class="card-header border-0 cursor-pointer" role="button" data-bs-toggle="collapse" data-bs-target="#kt_account_profile_details" aria-expanded="true" aria-controls="kt_account_profile_details">
    <div class="card-title m-0">
      <h3 class="fw-bolder m-0">Profile Details</h3>
    </div>
  </div>
  <div id="kt_account_profile_details" class="collapse show">
    <form novalidate="" class="form">
      <div class="card-body border-top p-9">
        <!-- Avatar Section -->
        <div class="row mb-6">
          <label class="col-lg-4 col-form-label fw-bold fs-6">Avatar</label>
          <div class="col-lg-8">
            <div class="image-input image-input-outline" data-kt-image-input="true" style="background-image: url(./assets/media/avatars/blank.png)">
              <div class="image-input-wrapper" style="background-image: url(./assets/media/avatars/image.jpg)"></div>
            </div>
          </div>
        </div>

        <!-- Full Name Section -->
        <div class="row mb-6">
          <label class="col-lg-4 col-form-label required fw-bold fs-6">Full Name</label>
          <div class="col-lg-8">
            <div class="row">
              <div class="col-lg-6 fv-row">
                <input type="text" class="form-control form-control-lg form-control-solid mb-3 mb-lg-0" placeholder="First name" name="fName" value="Max" />
              </div>
              <div class="col-lg-6 fv-row">
                <input type="text" class="form-control form-control-lg form-control-solid" placeholder="Last name" name="lName" value="Smith" />
              </div>
            </div>
          </div>
        </div>

        <!-- Contact Phone Section -->
        <div class="row mb-6">
          <label class="col-lg-4 col-form-label fw-bold fs-6"><span class="required">Contact Phone</span></label>
          <div class="col-lg-8 fv-row">
            <input type="tel" class="form-control form-control-lg form-control-solid" placeholder="Phone number" name="contactPhone" value="044 3276 454 935" />
          </div>
        </div>

        <!-- Email Section -->
        <div class="row mb-6">
          <label class="col-lg-4 col-form-label fw-bold fs-6"><span class="required">Email</span></label>
          <div class="col-lg-8 fv-row">
            <input type="email" class="form-control form-control-lg form-control-solid" placeholder="Email" name="email" value="max@kt.com" />
          </div>
        </div>

        <!-- Role Section -->
        <div class="row mb-6">
          <label class="col-lg-4 col-form-label required fw-bold fs-6">Role</label>
          <div class="col-lg-8 fv-row">
            <select class="form-select form-select-solid form-select-lg fw-bold" name="role">
              <option value="student">Student</option>
              <option value="teacher">Teacher</option>
              <option value="parent">Parent</option>
              <option value="psychologist">Psychologist</option>
            </select>
          </div>
        </div>

        <!-- Biography Section -->
        <div class="row mb-6">
          <label class="col-lg-4 col-form-label fw-bold fs-6">Biography</label>
          <div class="col-lg-8 fv-row">
            <textarea class="form-control form-control-lg form-control-solid" placeholder="Write a short biography" name="biography"></textarea>
          </div>
        </div>
      </div>
      <div class="card-footer d-flex justify-content-end py-6 px-9">
        <button type="button" class="btn btn-primary" [disabled]="isLoading" (click)="saveSettings()">
          <ng-container *ngIf="!isLoading">Save Changes</ng-container>
          <ng-container *ngIf="isLoading">
            <span class="indicator-progress" style="display: block;">
              Please wait...
              <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
            </span>
          </ng-container>
        </button>
      </div>
    </form>
  </div>
</div>
