//
// Menu
//
// Define purple shades
$primary: #8E44AD;  // Deep Purple as primary color
$hover-bg: #562C74; // Darker purple for hover backgrounds
$hover-text: $white; // White for text on hover for contrast
$hover-detail: #B5B5C3; // Lighter purple for details like icons or bullets


// Aside menu
.aside-menu {
    .menu {
        // Link padding x
        @include menu-link-padding-x(get($aside-config, padding-x));

        // Menu indention
        @include menu-link-indention(get($aside-config, menu-indention), get($aside-config, padding-x));
    }

    // Item
    .menu-item {
        padding: 0;

        // Menu Link
        .menu-link {
            padding-top: 0.75rem;
            padding-bottom: 0.75rem;
        }

        // Icon
        .menu-icon {
            justify-content: flex-start;
        }
    }
}

// Aside dark theme
.aside-dark {
    .hover-scroll-overlay-y {
        --scrollbar-space: 0.4rem;
        
        @include scrollbar-color(get($aside-config, scrollbar-color), get($aside-config, scrollbar-hover-color));
    }

    .menu {
        .menu-item {
            .menu-section {
                color: #4c4e6f !important;
            }

            //$title-color, $icon-color, $bullet-color, $arrow-color, $bg-color
            @include menu-link-default-state( #a198ac, #2196F3, #a598ac, #a298ac, null);
            @include menu-link-hover-state( $white, $primary, $primary, $white, #000000);
            @include menu-link-hover-state($hover-text, $primary, $primary, $hover-text, $hover-bg);
            @include menu-link-active-state( $white, $primary, $primary, $white, #2196F3);
        }
    }
}

// Aside light theme
.aside-light {
    .menu {
        .menu-title {
            font-weight: 500;
        }
    }
}