<!-- begin::Row -->


<!-- end::Row -->

<!-- begin::Row -->
<div class="row g-5 g-xl-8">
  <div class="col-xl-4">
    <app-stats-widget5
      svgIcon="./assets/media/icons/duotune/ecommerce/ecm002.svg"
      class="card bg-danger hoverable card-xl-stretch mb-xl-8"
      color="danger"
      iconColor="white"
      title="Upcoming Lessons"
      description="Algebra Basics, Introduction to Geometry, Trigonometry Fundamentals, Statistics and Probability"
    ></app-stats-widget5>
  </div>

  <div class="col-xl-4">
    <app-stats-widget5
      svgIcon="./assets/media/icons/duotune/ecommerce/ecm008.svg"
      class="card bg-primary hoverable card-xl-stretch mb-xl-8"
      color="primary"
      iconColor="white"
      title=" Available Tutors"
      description="Math Tutor:Dr. Emily Carter, Science Tutor:Dr. Samantha Adams, Language Tutor:Ms. Isabella Martinez (Spanish)"
    ></app-stats-widget5>
  </div>

  <div class="col-xl-4">
    <app-stats-widget5
      svgIcon="./assets/media/icons/duotune/graphs/gra005.svg"
      class="card bg-success hoverable card-xl-stretch mb-5 mb-xl-8"
      color="success"
      iconColor="white"
      title="Performance Statistics"
      description="Weekly Progress Report"
    ></app-stats-widget5>
  </div>
</div>
<!-- end::Row -->

<!-- begin::Row -->
<div class="row g-5 g-xl-8">
  <div class="col-xl-3">
    <app-stats-widget5
      svgIcon="./assets/media/icons/duotune/general/gen032.svg"
      class="card bg-white hoverable card-xl-stretch mb-xl-8"
      color="white"
      iconColor="primary"
      title="Total Lessons"
      description="Completed This Month"
    ></app-stats-widget5>
  </div>

  <div class="col-xl-3">
    <app-stats-widget5
      svgIcon="./assets/media/icons/duotune/ecommerce/ecm008.svg"
      class="card bg-dark hoverable card-xl-stretch mb-xl-8"
      color="dark"
      iconColor="white"
      title="New Students"
      description="Enrolled This Month"
    ></app-stats-widget5>
  </div>

  <div class="col-xl-3">
    <app-stats-widget5
      svgIcon="./assets/media/icons/duotune/finance/fin006.svg"
      class="card bg-warning hoverable card-xl-stretch mb-xl-8"
      color="warning"
      iconColor="white"
      title="Achievements"
      description="Milestone Reached"
    ></app-stats-widget5>
  </div>

  <div class="col-xl-3">
    <app-stats-widget5
      svgIcon="./assets/media/icons/duotune/graphs/gra007.svg"
      class="card bg-info hoverable card-xl-stretch mb-5 mb-xl-8"
      color="info"
      iconColor="white"
      title="Top Tutors"
      description="Recognized This Month"
    ></app-stats-widget5>
  </div>
</div>
<!-- end::Row -->

<!-- begin::Row -->
<div class="row g-5 g-xl-8">
  <div class="col-xl-4">
    <app-stats-widget6
      class="card bg-light-success card-xl-stretch mb-xl-8"
      color="success"
      title="Avarage"
      description="Student Progress"
      [progress]="'50%'"
    ></app-stats-widget6>
  </div>

  <div class="col-xl-4">
    <app-stats-widget6
      class="card bg-light-warning card-xl-stretch mb-xl-8"
      color="warning"
      title="Student Engagement"
      description="Weekly Study Hours"
      progress="15%"
    ></app-stats-widget6>
  </div>

  <div class="col-xl-4">
    <app-stats-widget6
      class="card bg-light-primary card-xl-stretch mb-xl-8"
      color="primary"
      title="Feedback Scores"
      description="Student Satisfaction"
      progress="76%"
    ></app-stats-widget6>
  </div>
</div>
<!-- end::Row -->
