<div class="instructor-dashboard">
  <h2>Manage Course Session Requests</h2>
  <table>
      <thead>
          <tr>
              <th>ID</th>
              <th>Type</th>
              <th>Description</th>
              <th>Status</th>
              <th>Actions</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let request of courseRequests">
              <td>{{ request.id }}</td>
              <td>{{ request.requestType }}</td>
              <td>{{ request.description }}</td>
              <td>{{ request.status }}</td>
              <td>
                  <button class="btn accept-button" (click)="acceptRequest(request)" [disabled]="request.status !== 'Pending'">Accept</button>
                  <button class="btn deny-button" (click)="denyRequest(request)" [disabled]="request.status !== 'Pending'">Deny</button>
                  <button class="btn edit-button" [routerLink]="['/course-edit', request.id]">Edit</button>
              </td>
          </tr>
      </tbody>
  </table>
  <a 
  routerLinkActive="active"
  routerLink="/crafted/widgets/add-course" class="btn btn-primary">Add New Course</a>
</div>

